@model List<Game>

<div>
    <h2>Jogos da NBA</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Time da Casa</th>
                <th>Time Visitante</th>
                <th>Placar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <td>@game.Date</td>
                    <td>@game.Teams.Home.Name</td>
                    <td>@game.Teams.Away.Name</td>
                    <td>
                        @if (game.Scores.Home.Total.HasValue && game.Scores.Away.Total.HasValue)
                        {
                            <span>@game.Scores.Home.Total.Value - @game.Scores.Away.Total.Value</span>
                        }
                        else
                        {
                            <span>Placar não disponível</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>